<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>imgur</title>
  <link rel="stylesheet" href="src/style.css">
  <script src="src/script.js"></script>
</head>
<body>
  <div id="root">
    <fieldset class="fieldset1">
      <legend>Sign up</legend>
      <br><br>
      <form action="/" method="post">
        <div class="form-example1">
          <input name="user" type="text" id="username" value="" 
          autofocus autocomplete="off" placeholder="New username" 
          required />
        </div>
        <div class="form-example1">
          <input name="pass" type="password" id="password" value="" 
          autocomplete="off" placeholder="New password" 
          required />
        </div>
        <div class="form-example2">
        <button id="submitbtn">sign up</button>
      </div> 
      </form>
      <div class="submitbtn">
      <span id="loginmsg">
       <P>Already have an account?<a href="/login">click here</a></P>
      </span>
    </div>
    <% if(err) {%> 
      <mark class="error1" title="click to close error"><%=  err  %></mark>
      <% } %>
    </fieldset>
  </div>
  <h2>
  </h2>
</body>
</html>