<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <title>Document</title>
</head>
<body>
  <fieldset class="fieldset1">
    <legend>Sign up</legend>
    <form action="/" method="post" class="form-example" target="_parent">        
          <div class="form-example1">
            <input type="text" name="name" id="name" placeholder="username" required>
          </div>
          <div class="form-example1">
            <input type="password" name="password" id="password" placeholder="password" required>
          </div>
          <div class="form-example1">
            <input type="password" name="confirm_password" id="password1" placeholder="Confirm password" required>
          </div>
          <div id="form-example2">
            <input type="submit" id="submitbtn" value="Sign up">
          </div>
          <div id="form-example3">
           <p>Already have an account? <a href = "./login">Login</a></p>
          </div>
  
    </form>
  </fieldset>
</body>
</html>