<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <script src = "./login.js" defer></script> 
    <title>Document</title>
</head>
<body>
  <fieldset class="fieldset2">
    <legend>Login</legend>
    <form action="/" method="post" class="form-example" target="_parent">        
          <div class="form1">
            <input type="text" name="name" id="name" placeholder="username" required>
          </div>
          <div class="form1">
            <input type="password" name="password" id="password" placeholder="password" required>
          </div>
          <div id="form2">
            <input type="submit" id="submitbtn" value="Login">
          </div>
          <div id="form3">
           <p>Don't have an account? <a href="/">Sign up</a></p>
          </div>
    </form>
  </fieldset>
</body>
</html>